{% set sticky_cls = theme_var('header_sticky') ? 'sticky' : '' %}
{% set site_logo = theme_var('site_logo') ? theme_var('site_logo') : 'images/logo.png'  %}

<header>
    <div class="container-wrap {{sticky_cls}}" {% if sticky_cls %}data-component="sticky"{% endif %}>
        <div class="container">
            <nav id="navbar-sm" class="show-sm">
                <a class="site-brand" href="{{ home_url }}">
                    {% if theme.show_site_logo %}
                        <img class="site-logo" src="{{ url('theme://' ~ site_logo) }}" />
                    {% endif %}
                    {% if theme.show_site_name %}
                        <h1 class="site-name">{{ config.site.title }}</h1>
                    {% endif %}
                </a>
                <a href="#" id="nav-toggle" data-component="toggleme" data-target="#navbar"><i class="kube-menu"></i></a>
            </nav>

            <nav id="navbar" class="hide-sm">
                <a class="site-brand" href="{{ home_url }}">
                    {% if theme.show_site_logo %}
                        <img class="site-logo" src="{{ url('theme://' ~ site_logo) }}" />
                    {% endif %}
                    {% if theme.show_site_name %}
                        <h1 class="site-name">{{ config.site.title }}</h1>
                    {% endif %}
                </a>
                <nav class="site-menu">
                    {% block header_navigation %}
                        {% include 'partials/navigation.html.twig' %}
                    {% endblock %}
                </nav>
            </nav>
        </div>
    </div>
</header>