{% extends 'partials/fragment.html.twig' %}

{% block container %}
    <div class="container-row row {% if row_clss %}{{row_clss}}{% endif %}">
        <div class="col {% if col_clss %}{{col_clss}}{% endif %}">
            {% block heading %}
                {% if page.header.show_heading %}
                    <div class="heading">
                        <h2>{{page.header.title}}</h2>
                        {%if page.header.subtitle %}
                            <h5>{{page.header.subtitle}}</h5>
                        {% endif %}
                    </div>
                {% endif %}
            {% endblock %}
            {% block content %}
                <div class="content">
                    {{ page.content }}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}