<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            {{ page.content }}
            <p><a href="mailto:{{ page.header.contact_email }}">{{ page.header.contact_email }}</a></p>
            <ul class="list-inline banner-social-buttons">
            {% for social in page.header.socials %}
                <li>
                    <a href="{{ social.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ social.icon }} fa-fw"></i> <span class="network-name">{{ social.name }}</span></a>
                </li>
            {% endfor %} 
            </ul>
        </div>
    </div>
</section>