{% set columns = page.header.class == 'small' ? 'col-4 col-md-4 col-sm-6' : 'col-6 col-md-6 col-sm-12'  %}
<section class="section modular-features {{ page.header.class}}">
        <section class="container col-6">
            <div class="frame-box">
                {{ content|raw }}
                <div class="columns">
                {% for event in page.header.events %}
                    <div class="column {{ columns }}">
                        <div class="event-title">{{ event.title | raw }}</div>
                        <div class="event-description">{{ event.description | raw }}</div>
                        
                        <div class="event-metadata">
                            <time class="event-date" datetime="{{ event.date }}">{{ event.date }}</time>
                            <div class="event-address">{% if event.venue.url %}<a href="{{ event.venue.url }}>{% endif %}{{ event.venue.name }}{% if event.venue.name and event.venue.address %}, {% endif %}{{ event.venue.address }}{% if event.venue.url %}</a>{% endif %}</div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </section>
</section>
